@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./Variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Dmsans";
}

.container-outer {
  // padding: 20px;
  height: 100%;
  background: linear-gradient(top, #f1f5fe 60%, $primary-color 40%);
  background: linear-gradient(top, #f1f5fe 60%, $primary-color 40%);
  background: linear-gradient(to bottom, #f1f5fe 60%, $primary-color 40%);
  // border: 1px solid red;
  // // background-color: $primary-color;
  // width: 100%;
  // background: linear-gradient(to bottom, $primary-color 50%, f1f5fe 50%);
  // // background-color: #f1f5fe;
}

.container-inner {
  padding: 20px;
  border: 1px solid blue;
  max-width: 1440px;
  margin: auto;
}
